.sprites_display__container {
    display: flex;
    flex-direction: column;
    background: hsl(var(--foreground) / 0.01);
    border-radius: 0.4rem;
    padding: 2rem;
    height: fit-content;
    padding: 2rem;
}

.thumbnails__container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    -ms-overflow-style: unset !important;  /* IE and Edge */
	scrollbar-width: unset !important;  /* Firefox */
    padding-bottom: 1rem;
}

.thumbnails__container::-webkit-scrollbar {
    display: block !important;
    height: 5px;
}

.thumbnails__container::-webkit-scrollbar-thumb {
    background: hsl(var(--foreground) / 0.1);
    width: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.main_image__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 475px;
    margin-bottom: 2rem;
}

.main_image_label {
    text-transform: capitalize;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0;
}

.main_image {
    min-width: 50%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: auto;
}

.thumbnail {
    display: flex;
    max-height: calc(96px + 1rem);
    border: 1px solid hsl(var(--foreground) / 0.2);
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 100ms;
    aspect-ratio: 1 / 1;
}

.selected {
    border-color: hsl(var(--foreground));
}

@media screen and (max-height: 700px) {
    .main_image__container {
        height: fit-content;
        margin-block: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .main_image__container {
        height: fit-content;
    }
}